@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif, Arial, Helvetica;
  color: #EAEAEA;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  font-family: 'Lora', serif;
}

.inter-bold {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

.accent-color {
  color: #E29578;
}

.bg-accent-color {
  background-color: #E29578;
}

.hover-bg-accent-color:hover {
  background-color: #E29578;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* Hero text character animation */
.hero-title .char {
  display: inline-block;
  opacity: 0;
  transform: translateY(20px);
  animation: CharFadeInUp 0.8s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
}

@keyframes CharFadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
